<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
    <style>
        .user {
            margin-top: 40px;
        }
    </style>
</head>

<body>
    <div class="container">
        <!-- header -->
        <%- include('../components/header.ejs') %>

            <!-- body -->
            <div>
                <h1>USERS</h1>
                <% users.forEach(user=> { %>
                    <div class="user">
                        <p>
                            <strong>Name:</strong>
                            <%= user.firstName %>
                                <%= user.lastName %>
                        </p>
                        <p>
                            <strong>Email:</strong>
                            <%= user.email %>
                        </p>
                        <p>
                            <strong>Phone:</strong>
                            <%= user.phone %>
                        </p>
                        <p>
                            <strong>Address:</strong>
                            <%= user.address %>
                        </p>
                        <p>
                            <strong>Gender:</strong>
                            <% if(user.gender=='1' ) { %>
                                Male
                            <% } else { %>
                                Female
                            <% } %>
                        </p>
                        <p>
                            <strong>Role:</strong>
                            <% if(user.roleId =='1') { %>
                                Admin
                            <% } else if(user.roleId =='2') { %>
                                Doctor
                            <% } else { %>  
                                Patient  
                            <% } %>
                        </p>
                        <div class="actions">
                            <a href="/crud/edit-crud/<%= user.id %>" class="btn btn-primary">Edit</a>
                            <a href="#" class="btn btn-danger delete-btn">Delete</a>
                        </div>
                    </div>
                    <form action="/crud/<%= user.id %>/delete-crud?_method=DELETE" method="post"></form>
                <% }) %>
            </div>

            <!-- footer -->
            <%- include('../components/footer.ejs') %>
    </div>
</body>
<!-- script -->
<%- include('../components/script.ejs') %>
<script>
    const deleteBtn = document.querySelectorAll('.delete-btn');
    const form = document.forms;
    for(let i = 0; i < deleteBtn.length; i++) {
        deleteBtn[i].onclick = function(e) {
            console.log(form[i]);
            e.preventDefault();
            form[i].submit();
        }
    }
</script>

</html>